---
{
	"title": "CSV to Tables Prototype",
	"language": "en",
	"category": "Plugins",
	"description": "Integrates the DataTables plugin into WET providing searching, sorting, filtering, pagination and other advanced features for tables.",
	"tag": "tables",
	"parentdir": "tables",
	"altLangPrefix": "tables",
	"dateModified": "2025-12-23"
}
---
<section>
	<h2>Example</h2>
	<p>Loads data dirctly from a CSV file and populates a table using the <a href="https://www.datatables.net">DataTables</a> plugin into WET providing searching, sorting, filtering, pagination and other advanced features for tables.</p>

	<h3>Example 1</h3>
	<p></p>

	<table id="csv-table" class="wb-tables table" data-wb-tables='{ "ordering": false }'></table>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="tables-csv.js"></script>
